.App {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  border-radius: 8px;
}


.menu {
  width: 20%;
  background-color: #D4ADFC;
  padding: 8px 30px;
  position: sticky;
  top: 0;
  height: 100vh;
  color: #5C469C
}

.countries{
  width: 80%;
  padding: 1rem;
  background: #5C469C;
  color: #D4ADFC; 
  cursor: pointer;
}

.country {
  border: 1px solid #D4ADFC;
  padding: 8px 12px;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.country .title {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}
.country .sub-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 5px;
  color: #D4ADFC;
}

.char {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 4px;
}


.active{
  background: #5C469C;
  color: #fff;
}